[logging]
root_level=INFO
format=%(levelname)s:%(name)s:%(asctime)s: %(message)s

[logging.mod.asyncio]
level=INFO

[logging.mod.sqlalchemy.dialects]
level=INFO

[logging.mod.sqlalchemy.engine]
level=INFO

[logging.mod.sqlalchemy.orm]
level=INFO

[logging.mod.sqlalchemy.pool]
level=INFO

[logging.mod.abyss_bot]
level=INFO
